<!-- Top Navigation Bar -->
<header
class="sticky top-0 z-50 flex items-center justify-between whitespace-nowrap border-b border-solid border-slate-200 dark:border-slate-800 px-10 py-4 bg-white/80 dark:bg-background-dark/80 backdrop-blur-md">
<div class="flex items-center gap-3 text-[#111418] dark:text-white">
    <h2 class="text-[#111418] dark:text-white text-xl font-extrabold leading-tight tracking-tight"><a
            href="/"> KALIDA MOTORS </a></h2>
</div>
<div class="flex flex-1 justify-end gap-8 items-center">
    <nav class="hidden md:flex items-center gap-9">
        <a class="text-[#111418] dark:text-slate-300 text-sm font-semibold hover:text-primary dark:hover:text-primary transition-colors"
            href="process.html">How it Works</a>
        <a class="text-[#111418] dark:text-slate-300 text-sm font-semibold hover:text-primary dark:hover:text-primary transition-colors" href="vehicles.html">Available Locally</a>
        <!-- <a class="text-[#111418] dark:text-slate-300 text-sm font-semibold hover:text-primary dark:hover:text-primary transition-colors" href="#">About Us</a> -->
    </nav>
    <a href="inquiry.html"
       class="flex min-w-[140px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-5 bg-primary text-white text-sm font-bold leading-normal tracking-wide hover:brightness-110 transition-all">
       <span class="truncate">Start Inquiry</span>
    </a>
</div>
</header>